# Ignore everything
*

# Files to un-ignore
!.gitignore
!.gitmodules
!.gitattributes
!README.md
!LICENSE
!CMakeLists.txt
!usplayer.code-workspace

# File types to un-ignore
!*.cpp
!*.h

# Directories to un-ignore
!src
!lib
!lib/driver
